<title> Onboard!</title>




<div class="container">
  <div class="bloc-flex">

    <div class="item-flex colonne-a align-center">

      <ul class="global-list-new-lawyer">
        <li class="line-flex list-new-lawyer">
          <div >
            <i class="fas fa-check-circle fa-3x icon-new-lawyer" ></i>
          </div>
          <div class="part-text">
            <h1>2 300 </h1>
            <h3> lawyers are trust us </h3>
          </div>
        </li>

        <li class="line-flex list-new">
          <div >
            <i class="fas fa-check-circle fa-3x icon-new-lawyer" ></i>
          </div>
          <div class="part-text">
            <h1> 56 000 </h1>
            <h3> cases followed </h3>
          </div>
        </li>

        <li class="line-flex list-new">
          <div >
            <i class="fas fa-check-circle fa-3x icon-new-lawyer"></i>
          </div>
          <div class="part-text">
            <h1> 12 000 000 </h1>
            <h3> meetings organised  </h3>
          </div>
        </li>
      </ul>


    </div>




    <div class="colonne-b">
      <%= render "shared/form" %>
    </div>
  </div>
</div>
</div>


<%= render "shared/onboarding_icons_lines" %>
