.card-request-show {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue !important;
  background-color: rgba(31, 72, 126, .1);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.h1-headline-blue{
  color: $blue !important;
}

.request-content {
}

.card-request-details {

}

.request-status {
  padding-right: 10px;
}
