// Specific CSS for your home-page
.lawyer-search-form {
  margin-top: 30px;
  display:flex;
  input {margin: 0px 10px; border-radius: 5px; color: $blue}
  .btn-primary {font-weight: bold; color: white}
}




