// Import page-specific CSS files here.
@import "home";


.lawyer-info{
  display: flex;
  justify-content: space-around;
  background-color: rgb(200,200,200);
  border-radius: 10px;
}
.lawyer-strengths{
  display: flex;
  justify-content: space-around;
}

.lawyer-rating{
  display: flex;
  justify-content: space-around;
}

.avatar-box{
  padding-left: 80px;
  padding-top: 10px;
  margin-right: 10px;
}

.lawyer-info-box{
  display: flex;
  align-items: center;
  margin: 10px;
}

.spec-box{
  display: flex;
  align-items: center;
  padding: 2px;
}

.lawyer-card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: #CECDCA;
  color: #000000;
  // position: relative;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  opacity: 0.85;
  // position: align-center;
}

.card-user {
  left: 40px;
  top: 40px;
  width: 85px;
  border-radius: 50%;
}

.card-description {
  position: absolute;
  bottom: 45px;
  left: 140px;
}
.card-description h2 {
  font-size: 15px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.8;
  font-weight: lighter;
  bottom: 25px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-speciality {
  opacity: 0.75;
  font-size: 12px;
  space-between: 5px;
  position: absolute;
  left: 400px;
  bottom: 17px;
}

.card-strengths-col-1 {
  opacity: 0.75;
  font-size: 12px;
  space-between: 5px;
  position: absolute;
  left: 1200px;
  bottom:   17px;
}

.card-strengths-col-2 {
  opacity: 0.75;
  font-size: 12px;
  space-between: 5px;
  position: absolute;
  left: 800px;
  bottom: 17px;
}

.checked {
    color: orange;
}

.fancy-checkbox input[type="checkbox"] {
    display: none;
}

.fancy-checkbox span:before {
    font-family: "FontAwesome";
    font-style: normal;
    width: 1em;
    height: 1em;
    content: '\f10c';
    margin-right: .3em;
}

.fancy-checkbox input[type="checkbox"]:checked ~ span:before {
    content: '\f05d';
}

@import "show";

