.lawyer-details {
  margin-top: 40px;
  color: $blue !important;
}

.show-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.tab-content {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
}

.tab-content-text {
  margin: 30px;
  display:flex;
}

.lawyer-reviews {
  color: $blue !important
}

.lawyer-tabs {
  color: $blue;
  height: 350px;
  margin-top: 40px;
}

.container-lawhero-padding {
  padding: 0 100px !important;
}

.active {
  a {
    color: $green !important;
    border-color: $green !important;
  }
  a:hover {
    cursor: pointer !important;
  }
}

.review-card {
  p {color: $blue}
  display: flex;
  margin: 40px 0 !important;
  background-color: rgba(31, 72, 126, .1);
  border-radius: 5px;

}

.review-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-card-content {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 40px !important;
}

.colored-star {
  color: $green !important;
}

.book-lawyer-button{
  font-weight: bold;
}

.first-row-show {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}
