.lawyer-details {
  margin-top: 40px;
  margin-bottom: 40px;
}

.show-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.tab-content {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  color: $blue;
}

.tab-content-text {
  margin: 30px;
  display:flex;
}
