<div class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#" class="fab fa-facebook"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>
    <div class="footer-copyright">
      <a href="#">Terms & Privacy</a>
    </div>
  </div>
</div>
