<div class="navbar-lawhero">
  <!-- Logo -->
  <div class="navbar-logo-container">
    <%= link_to image_tag("lawhero", width: 50, height: 50, class: "navbar-logo-items"), root_path %>
    <a href="/" class="navbar-name navbar-logo-items">Lawhero</a>
  </div>

    <!-- Right Navigation -->
    <div class="navbar-right">
      <a href="" class="navbar-link">How it works</a>
      <a href="" class="navbar-link">About</a>
      <a href="" class="navbar-link">Lawyers</a>
      <a href="#" class="btn btn-primary">Login in</a>

    </div>
</div>


