<div class="container card-pros-all">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-clock card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Quick start</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-thumbs-up card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Easy Management</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-credit-card card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Payment online</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-file-alt card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Document manager</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
  </div>
</div>
