      <div class="card-boxes">
        <div class="row">

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 ">
            <div class="card-box">
              <div class="card-icon">
                <i class="far fa-clock card-pros-icon"></i>
              </div>
              <div class="card-text">
                <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
