<ul>


<li class="one-reference">
    <h2> Manage negotiations to obtain bonus payment</h2>
    <p> In 2 months, we obtain full payment</p>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
  </li>


<li class="one-reference">
    <h2> Defend an employee against an international firm</h2>
    <p> After 6 months we obtain a good deal for my client</p>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </li>


<li class="one-reference">
    <h2> Obtain a good allowace after abuses in dismissal process</h2>
    <p> Responded in a timeley manner</p>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  </li>







</ul>
