<ul>
  <li class="one-rating-line">
    <p> Responded in a timeley manner </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

 <li class="one-rating-line">
    <p> Answered questions clearly </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

 <li class="one-rating-line">
    <p> Understood Needs </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Transparent with costs </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Knowledgable in Legal Area </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Would Hire Again </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Value for Money </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Would Recommand to a friend </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Punctuality </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

   <li class="one-rating-line">
    <p> Solved the Problem </p>
    <div class="star-amount">
      <% 4.times do %>
      <span class="fas fa-star colored-star"></span>
      <% end %>
      <% 1.times do %>
      <span class="fas fa-star "></span>
      <% end %>
    </div>
  </li>

</ul>
