.bloc-flex {
  display: flex;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(240,240,240);
}

.item-flex {
display: flex;
padding: 20px 20px 20px 20px;
}

.list-new-lawyer {
  margin-top: 30px;
}

.global-list-new-lawyer {
  list-style-type: none;
  width:100%;
}

.icon-new-lawyer {
  padding-right: 20px;
}

.line-flex {
  display: flex;
  align-items: center;
  margin-left:20%;
  // font-size: 70px;
}

.part-text {
  text-align:left;

}

.colonne-a {
  width: 60%;
  display:flex;
  text-align: center;
  flex-direction: column;
}

.colonne-b {
  width: 40%;
  background-color: $green;
  border-radius: 15px;


}

.align-center {
  align-items: center;
}

#title-box {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.form-content {
  color: $blue;
  border-radius: 15px;
}

.btn-onboarding {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}
