.lawyer-details {
  margin-top: 40px;
  color: $blue !important;
}

.show-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.show-photo-medium {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.tab-content {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  margin-top: 20px;
}

.tab-content-text {
  margin: 30px;
  display:flex;
}

.lawyer-reviews {
  color: $blue !important
}

.container-lawhero-padding {
  padding: 0 100px !important;
}


.review-card {
  p {
    color: $blue
  }
  display: flex;
  margin: 40px 0 !important;
  background-color: rgba(31, 72, 126, .1);
  border-radius: 5px;

}

.review-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-card-content {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 40px !important;
}

.colored-star {
  color: $green !important;
}

.book-lawyer-button{
  font-weight: bold;
}

.first-row-show {
  display:flex;
  justify-content: space-between;
  align-items:center;
}


// tabs


.nav-tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 3px #00B2A6;

  // li.active {
  //   a {
  //     // color: $green;
  //     border-top: solid 3px #00B2A6;
  //   }
  //   a:hover {
  //     cursor: pointer !important;
  //   }
  // }

  li a {
    border-radius: 0;

  }

  li.active {
        border-top: solid $green 3px ;


  }


  li a:hover {
    background-color: transparent;
    border-top: solid 3px $green;
  }

   li a:active {
    background-color: transparent;
    border: none;

    // border-top: solid 3px $green;
  }

   li a:focus  {
    background-color: transparent;
    border: none;

    // border-top: solid 3px $green;
  }


   li:focus {
    background-color: transparent;
    border: none;

    // border-top: solid 3px $green;
  }


  li.active a {
    background-color: transparent;
    border: none;
    color: $blue;
    // border-top: solid 3px $green;
  }

  li.active a:hover {
    background-color: transparent;
    border: none;
    color: $blue;
    // border-top: solid 3px $green;
  }

  li:hover a{
    background-color: transparent;
    border: none;
    color: $blue;
    border-top: solid $green 3px ;
  }
}

.lawyer-tabs {
  color: $blue;
  min-height: 400px;
  margin-top: 40px;
  margin-bottom: 50px;
}

