<h1>Requests#show</h1>
<p>Find me in app/views/requests/show.html.erb</p>
<div class="container">
  <div class="row">
    <ul>
      <li>
<%= @request.title %>
      </li>
      <li>
<%= @request.description %>
      </li>
    </ul>
</div>
</div>
