<title> Join our lawyers!!</title>


<div class="banner-onboarding" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/merlinha/image/upload/v1542264452/law%20seeds/home-banner-background.jpg');">
  <div class="banner-content">
    <h1> Join us, find new clients and reduce your costs! </h1>

    <button type="button" class="btn btn-warning"> Join us! </button>
  </div>
</div>

<div class="container card-pros-all">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-clock card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Quick start</p>p
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-thumbs-up card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Easy Management</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-credit-card card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Payment online</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-pros">
        <div class="card-pros-icon">
          <i class="far fa-file-alt card-pros-icon"></i>
        </div>
        <div class="card-pros-title text-center">
          <p>Document manager</p>
        </div>
        <div class="card-pros-content text-center">
          <p>At vero eos et accusamus et iusto odio At vero eos et accusamus et iusto odio</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-pros-all">
  <div class="row">
    <div class="col-xs-6 ">
      <h1>Box 1 </h1>
    </div>
    <div class="col-xs-6 ">
      <div class="row">
        <div class="col-xs-3 ">
          <h1>Box 2 </h1>
        </div>
        <div class="col-xs-3 ">
          <h1>Box 3 </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 ">
          <h1>Box 4 </h1>
        </div>
        <div class="col-xs-3 ">
          <h1>Box 5 </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 ">
          <h1>Box 6 </h1>
        </div>
        <div class="col-xs-3 ">
          <h1>Box 7 </h1>
        </div>
      </div>
    </div>
  </div>
</div>
