.card-pros-all {
  padding: 0 60px;
  }

.card-pros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 10px 60px 10px;
}

.card-pros:hover {
  opacity: 0.5;
  .card-pros-icon {font-size: 55px};
  .card-pros-title {font-size: 17px};
  .card-pros-content {font-size: 17px;}
}

.card-pros-icon {
  font-size: 50px;
  color: $green;
}

.card-pros-title {
  color: $green;
  p {font-weight: bold};
}

.card-pros-content {
  color: $blue;
}

.card-banner-customers {
  display: flex;
  margin: 30px 80px;
}

.card-banner-customers-photo-a {
  margin-right: 20px;
}

.card-banner-customers-photo-b {
  margin-left: 20px;
}



// onboarding part


.card-pros-onboarding {
  padding: 0 60px;
}

.card-join-us {
align-items:center;
}

.card-boxes {
align-items:center;
}

.card-box {
  background: white;
  height: 200px;
  display: flex;
  flex-direction:row;
   margin-right: 10px;
  margin-bottom: 10px;
  align-items:center;

  // border: 1px solid black;
}

.card-box:hover {
  opacity: 0.5;
  .card-icon {font-size: 55px};
  .card-text {font-size: 17px};
}

.card-icon {
  margin-left: 10px;
}

.card-text {
  margin-left: 30px;
  margin-right: 10px;
}

.button-container {
  text-align: right;
  margin-top: 30px;
}


.card-references-show {
  background-color: rgba(31, 72, 126, 0.1);
  border-radius: 5px;
  padding: 1px 5px 5px 20px;
  margin-bottom: 15px;
  h3 {
    font-size: 24px !important;
  }
}
