.right-column-dash-messages {
  // display: flex;
  // flex-direction: column;
  flex-grow: 1;
  min-height: 50vh;
  min-width: 500px;
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.flex-message-input {
  // display: flex;
}

.input-message {
  left: 10px;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.flex-message-input {
  height: 60px;
  width: 100%;
}

// .message-box-inside-messages {
//   height: 35px;
//   padding-left: 10px;
// }

// .message-box-inside-messages p {
//   color: black;
// }

// .timestamp-message p {
//   font-size: 10px;
//   color: $green;
// }


.form-control-msg {
  margin-bottom: 0px !important;
  color: black;
}


.messages {
  height: 40vh;
  overflow: scroll;
}
