.rounding {
  border-radius: 6px;
}

.form-control-label {
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.long-desc {
  width: 200px;
  height: 300px;
}
