/* Main navbar */
.navbar-lawhero {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #C4C4C4;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.navbar-name {
  align-items: left;
  color: $green;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
}

.navbar-logo-container {
  display: flex;
  padding:10px;
  align-items: center;
}

.navbar-logo-items {
  margin: 5px;
}

/* User Avatar */
.navbar-lawhero .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-link {
  padding: 0 20px;
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  font-family: Open sans;
  text-decoration: none;
}

.navbar-lawhero .btn {
  font-size: 16px !important;
  font-weight: bold !important;
  font-family: Open sans !important;
  text-decoration: none !important;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #00B2A6;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #00B2A6;
  text-decoration: none;
  color: white;
}


.navbar-link:hover {
  color: $green;
  text-decoration: none;
}
